<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster | Home</title>
    <style>
        img{
            width: 200px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <form action="/user/:id/createTask" method="post">
        <input type="text" name="title" id="task" placeholder="Qual o título da sua task?">
        <input type="text" name="description" id="description" placeholder="Qual a descrição?">
        <input type="submit" value="Adicionar">
    </form>

    <ul>
        <% tasklist.forEach((element) => { %>
            <li>
                <%= element.title %>
            </li>
        <% }) %>
    </ul>
        
    <% if (img_profile) { %>
        <img src=<%= img_profile %> alt="Profile Image">
    <% } %>    

</body>
</html>