@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  --colorLight1: #fff;
  --colorLight2: #8b6be7;
  
  --colorDark1: #000;
  --colorDark2: #604aa3;
}

body {
  background-color: var(--colorLight2);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

/* nav */
.containerMenu {
  border-radius: 0 35px 35px 0;
  background-color: var(--colorLight1);
}

.headerImgProfile img {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.containerMenu header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header {
  display: block;
  margin: 5rem auto 0;
  width: fit-content;
  height: fit-content;
}

.headerTitle h1 {
  color: #4a4a4a;
  font-size: 2.2rem;
  font-family: Inter;
  font-weight: normal;
}

.headerTitle p {
  color: #8b6be7;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  margin-bottom: 1rem;
}

.headerTitle a {
  display: flex;
  align-items: center;
  color: #8a6be7ad;
  font-size: 1.2rem;
  width: fit-content;
}

.headerTitle a > i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.headerTitle a:hover i {
  animation: animationIconLogout 0.2s;
}

@keyframes animationIconLogout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.headerLine {
  width: 18rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-bottom: 2px solid #8b6be7;
}

.nav {
  display: block;
  margin: 5rem auto 0;
  width: fit-content;
  height: fit-content;
}

.navTaskToday h2 {
  color: #4a4a4a;
  font-size: 2.25rem;
  font-family: Inter;
  cursor: pointer;
  font-weight: normal;
}

.navTaskToday h2 i {
  margin-right: 1.5rem;
}

.bi-calendar2-day,
.bi-clock-history,
.bi-gear-fill {
  color: #8b6be780;
}

.navCircle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 4.3rem;
}

.navCircle div {
  display: flex;
  gap: 1rem;
  color: #4a4a4a;
  font-size: 1.3rem;
  font-family: Inter;
}

.navCircle div:nth-child(1) i {
  color: #d062dd;
}

.navCircle div:nth-child(2) i {
  color: #3fd4f4;
}

.navCircle div:nth-child(3) i {
  color: #fac608;
}

.scheduled h2 {
  color: #4a4a4a;
  font-weight: normal;
  font-size: 2.25rem;
  font-family: Inter;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.scheduled h2 i {
  margin-right: 1.5rem;
}

.setting h2 {
  color: #4a4a4a;
  font-weight: normal;
  font-size: 2.25rem;
  font-family: Inter;
  cursor: pointer;
}

.setting h2 i {
  margin-right: 1.5rem;
}

/* task */

.titleTask h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.8rem;
  font-family: Inter;
}

.titleTask p {
  color: #fff;
  font-size: 2.8rem;
  font-family: Inter;
  font-weight: 900;
}

form {
  display: flex;
  width: 60rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #fff;
}

@keyframes openForm {
  0% {
    height: 4rem;
  }
  20% {
    height: 6rem;
  }
  40% {
    height: 8rem;
  }
  60% {
    height: 10rem;
  }
  80% {
    height: 12rem;
  }
  100% {
    height: 13rem;
  }
}

@keyframes closeForm {
  0% {
    height: 13rem;
  }
  20% {
    height: 12rem;
  }
  40% {
    height: 10rem;
  }
  60% {
    height: 8rem;
  }
  80% {
    height: 6rem;
  }
  100% {
    height: 4rem;
  }
}

form > div:not(:first-child) {
  display: none;
}

.divCircle {
  display: flex;
  gap: 1rem;
  align-self: center;
  font-size: 1.25rem;
}

.divCircle i:nth-child(1) {
  color: #d062dd;
}

.divCircle i:nth-child(2) {
  color: #3fd4f4;
}

.divCircle i:nth-child(3) {
  color: #fac608;
}

.divFormMain {
  display: flex;
  gap: 1rem;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.divFormMain input[name="title"] {
  width: 75%;
  border: none;
  outline: none;

  color: #4a4a4acc;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

.divFormMain input[name="title"]::placeholder {
  color: #dfdfdf;
}

.divCalendar {
  color: #8b6be7;
  display: flex;
  align-self: center;
  gap: 1rem;
  font-size: 1.8rem;
}

.labelTask {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #dfdfdf;

  display: flex;
  position: absolute;
  top: 21rem;
  left: 44rem;
}

.labelTask input {
  visibility: hidden;
}

.labelTask label {
  cursor: pointer;
}

.labelTask > div {
  margin-bottom: 1rem;
}

/* ======= */

.divFormMain.expanded {
  align-self: flex-start;
  margin-top: 0.813rem;
  margin-left: -5rem;
}

.divCircle.expanded {
  flex-direction: column;
  position: absolute;
  top: 21rem;
  left: 43.5rem;
}

.labelTask.expanded {
  display: block;
}

.divCalendar.expanded {
  display: none;
}

.divDateTimeSubmit.expanded {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 1rem 2rem 0 0;
}

.divDateTimeSubmit.expanded div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.divDateTimeSubmit.expanded
  :is(input[name="date"], input[name="time"], input[name="submit"]) {
  color: #fff;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #8b6be7;
  font-size: 1rem;
}

:is(input[name="date"], input[name="time"])::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverte a cor do ícone */
  color: #fff; /* Define a cor desejada para o ícone */
  background: url("../img/down-icon.svg") center no-repeat;
  background-size: contain;
  opacity: 1;
  cursor: pointer;
}

/* output */

.containerTask,
.containerScheduled {
  max-height: 100vh;
  overflow-y: auto;
  margin-left: 6rem;
  margin-top: 5rem;
}

.containerTask::-webkit-scrollbar {
  display: none;
}

.containerTask::-webkit-scrollbar-button {
  display: none;
}

.containerTask::-webkit-scrollbar-thumb {
  display: none;
}

.formTask {
  margin: 5rem 0;
}

.openAnimationForm {
  animation: openForm 200ms ease-in-out forwards;
}

.closeAnimationForm {
  animation: closeForm 200ms ease-in-out forwards;
}

.tasklist {
  margin-left: 3rem;
}

.outputDiv {
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 53rem;
  height: 4rem;
  border-radius: 1.875rem;
  background-color: #fff;
}

.outputCircle i {
  font-size: 1.25rem;
}

.high {
  color: #d062dd;
}

.medium {
  color: #3fd4f4;
}

.low {
  color: #fac608;
}

.outputTaskTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  color: #4a4a4acc;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.outputTask {
  color: #4a4a4acc;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.checkboxTrash {
  display: flex;
  gap: 1rem;
}

.checkboxTrash a {
  color: #7f5de4;
}

.checkbox i {
  font-size: 1.8rem;
}

.bi-trash {
  font-size: 1.8rem;
}

/* ============= containerScheduled ============*/

.sectionOn {
  color: #8b6be7;
}

.containerScheduled {
  display: none;
}

.containerScheduled::-webkit-scrollbar {
  display: none;
}

.containerScheduled::-webkit-scrollbar-button {
  display: none;
}

.containerScheduled::-webkit-scrollbar-thumb {
  display: none;
}

.containerScheduled h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.8rem;
  font-family: Inter;
}

.containerScheduled .titleDateScheduled {
  color: #fff;
  font-size: 1.5rem;
  font-family: Inter;
  margin-bottom: 3rem;
  display: flex;
  align-items: end;
}

.containerScheduled .tasklist {
  margin-left: 0;
}

.containerScheduled .outputDiv{
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.containerSettings {
  display: none;
}


/* ============ containerSettings ====================== */
.containerSettings{
  width: 85%;
  height: 85%;
  margin: auto;
  border-radius: 35px;
  background-color: #fff;
}